In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import os
import sys
nb_dir = os.path.split(os.getcwd())[0]
if nb_dir not in sys.path:
    sys.path.append(nb_dir)

In [2]:
from data_transforms import clean_data, update_data
from single_use_scripts import extract_region_map, process_pipeline
from utils import tools, constants

In [3]:
data_source = '../data/EGR_2001-2016_SAMPLE.csv'
full_data = '../../data/EGR_2001-2016.csv'

In [4]:
df = process_pipeline.main(full_data)

/Users/niquo/anaconda/envs/py36conda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2881: DtypeWarning: Columns (0,4,7,13) have mixed types. Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Removing all rows from data with year not in range [2001,2016]...
Removing rows from data that do not have a specified sex...
removing condition egresar values that are not alive or dead...
adding column INSURE_TYP to indicate insurance type. This may take a bit.
removing rows with insurer not private or public...
removing 1169 rows that have unlisted regions
Mapping region values back to pre 2007 listing...
loading function dictionary to apply to groupings..

In [5]:
df

         SEXO                   INSURE_TYP             COND_EGR
        total   males females private_hosp public_hosp     dead      alive
year
2001  1089814  402487  687327         3526     1086288  25093.0  1064721.0
2002  1126331  417351  708980        52647     1073684  26528.0  1099803.0
2003  1377754  512868  864886       234710     1143044  26290.0  1351464.0
2004  1405002  525153  879849       230056     1174946  27713.0  1377289.0
2005  1439772  538452  901320       231554     1208218  27320.0  1412452.0
2006  1453269  544025  909244       226189     1227080  28119.0  1425150.0
2007  1461389  551146  910243       212794     1248595  30089.0  1431300.0
2008  1458581  548832  909749       230748     1227833  28672.0  1429909.0
2009  1533593  573917  959676       268799     1264794  30520.0  1503073.0
2010  1477342  557699  919643       271984     1205358  31691.0  1445651.0
2011  1511169  575873  935296       282640     1228529  30711.0  1480458.0
2012  1516866  583015  933851       295429     1221437  31628.0  1485238.0
2013  1519795  589138  930657       309655     1210140  32402.0  1487393.0
2014  1519729  591062  928667       321993     1197736  32496.0  1487233.0
2015  1524405  596596  927809       334933     1189472  32385.0  1492020.0
2016  1494588  588127  906461       327584     1167004  32173.0  1462415.0

### Things to be cleaned

* uknown ages -- None Found
* uknown exit date -- COMPLETE
* uknown gender -- remove all non male (1)/female (2) (mapping consistency has been checked)
* uknown insurer -- COMPLETE
* uknown exit condition (alive/dead) -- COMPLETE and consistency checked

### To be updated and/or verified

* inspect and possibly clean regions that are unlisted (eg region 99) --COMPLETE
* There was a change made in 2007 to the regions. ---COMPLETE
* check that insurer type has same coding through all sets of years and remap values if necessary -- COMPLETE
* create age groups as another field for the data